.calendario_horas{
    position: absolute;
    top: 0;
    right: 0;
    width: 68vw;
    display: inline-block;
    background-color: aqua;
    padding: 20px;
}

.calendario_horas__contenedor{
    background-color: antiquewhite;
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
}