.info_usuario {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #E8EDF3; /* Un tono claro y moderno */
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
    border: 2px solid #A3B3C3;
    border-radius: 10px; /* Bordes redondeados */
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
}

.info_usuario__barra_cerrar {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.info_usuario__nombre{
    font-size: 12px;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Tipografía moderna */
    color: #013A67; /* Azul elegante */
}
.info_usuario__rol{
    font-size: 10px;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Tipografía moderna */
    color: #058505; /* Azul elegante */
}


.info_usuario__barra_datos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 15px;
    background-color: #FFFFFF; /* Fondo blanco para resaltar contenido */
    border: 1px solid #D0D7DF;
    border-radius: 8px;
}

.info_usuario__boton {
    width: 50%;
    height: 30px;
    border: none;
    background-color: #0277BD; /* Azul vibrante */
    color: white;
    
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info_usuario__boton:hover {
    background-color: #01579B; /* Efecto hover más oscuro */
}
