h1,p,button{
	margin: 0;
	padding: 0;
	border: 0;
    font-family:sans-serif;
	font-size: 100%;

	vertical-align: baseline;
}

.opciones{
    background-color: #B4BEC9;
    width: 280px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.opciones__boton{
    color: white;
    font-family: sans-serif;
    border-radius: 9px;
    height: 40px;
    background-color: #013A67;
    box-shadow: 0 0 20px 1px #049DBF inset;
    transition: all 2500ms ;
}

.opciones__boton:hover{
   box-shadow: none; 
}