.navbar{
    width: 250px;
    display: inline-flex;
    align-items: center;
    padding: 22px;
    box-sizing: border-box;
    background-color: #B4BEC9;
    flex-direction: column;
    height: 100vh;
    max-height: 100%;
    position: fixed; /* Fijo en la izquierda */
    top: 0;
    left: 0;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    overflow-y: auto; 
}

