.styled-table {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: #FAF3E0; /* Fondo cálido */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra elegante */
}

.styled-table__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.styled-table__input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #D3D3D3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.styled-table__clear-button {
    padding: 10px 20px;
    background-color: #0277BD; /* Azul vibrante */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled-table__clear-button:hover {
    background-color: #01579B; /* Azul más oscuro */
}

.styled-table__table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table__header {
    background-color: #E8EDF3; /* Fondo claro para la cabecera */
}

.styled-table__row:nth-child(even) {
    background-color: #F3F3F3; /* Fondo alternado */
}

.styled-table__cell {
    padding: 10px;
    text-align: left;
    border: 1px solid #D3D3D3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.styled-table__actions-cell {
    display: flex;
    gap: 10px;
}

.styled-table__button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

.styled-table__button--update {
    background-color: #4CAF50; /* Verde para actualizar */
    color: white;
}


.styled-table__button--update:hover {
    background-color: #45A049; /* Hover verde oscuro */
}

.styled-table__button--ver {
    background-color: #5f43ff; /* Verde para actualizar */
    color: white;
}


.styled-table__button--ver:hover {
    background-color: #45A049; /* Hover verde oscuro */
}

.styled-table__button--delete {
    background-color: #F44336; /* Rojo para eliminar */
    color: white;
}

.styled-table__button--delete:hover {
    background-color: #D32F2F; /* Hover rojo oscuro */
}
